{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <div class="grid-x grid-padding-x">
        <div class="cell small-6">
            <div class="entry-content">
                <header class="entry-header">
                    <h1>{{ .Title | markdownify }}</h1>
                    {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
                </header>
                <br /><br />
                <h3>{{ .Content | markdownify }}</h3>
                <!-- SendPulse Subscription Form -->
                <form novalidate="" class="sp-element-container ">
                    <h5>Подпишитесь на обновления и будь в курсе.</h5>
                    <div class="input-group">
                        <input class="input-group-field" type="email" name="sform[email]" class="sp-form-control " placeholder="username@gmail.com" autocomplete="on" required="required">
                        <div class="input-group-button">
                          <input type="submit" class="button" value="Подписаться">
                        </div>
                    </div>
                </form>
                <!-- /SendPulse Subscription Form -->
                <br /><br /><br />
            </div>

        </div>
        <div class="cell small-6">
            <svg data-v-23917018="" class="main-header__farm-background" width="935" height="704" viewBox="0 0 935 704" fill="none" xmlns="http://www.w3.org/2000/svg"><defs data-v-23917018=""><clipPath data-v-23917018="" id="circleView"><path data-v-23917018="" d="M0 0H935V704L351 267L0 0Z" fill="white"></path></clipPath></defs><image data-v-23917018="" clas="main-header__farm-background-image" href="https://acretrader.com/img/1.6bdf341f.jpg" clip-path="url(#circleView)"></image></svg>
        </div>
    </div>
</article>
{{- end -}}
