{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info" style="margin-bottom: 0px">
    <div class="grid-x grid-padding-x">
        <div class="cell small-6">
            <div class="entry-content">
                <header class="entry-header">
                    <h1>{{ .Title | markdownify }}</h1>
                    {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
                </header>
                <br /><br />
                <h3>{{ .Content | markdownify }}</h3>
                <br />
                <!-- SendPulse Subscription Form -->
                <form novalidate="" class="sp-element-container ">
                    <h5>Подпишитесь на обновления и будь <small>(в курсе)</small>.</h5>
                    <div class="input-group">
                        <input class="input-group-field" type="email" name="sform[email]" class="sp-form-control " placeholder="username@gmail.com" autocomplete="on" required="required">
                        <div class="input-group-button">
                          <input type="submit" class="button" value="Подписаться">
                        </div>
                    </div>
                </form>
                <!-- /SendPulse Subscription Form -->
                <br /><br /><br />
            </div>

        </div>
        <div class="cell small-6">
            {{ $advs := where site.RegularPages "Params.onTop" true  }}
            {{ $advs = where $advs "Params.Draft" "!=" true  }}
            {{ if (gt ($advs.Len) 0) }}
                {{ $post := index ($advs) 0 }}
                <article class="post-entry" style="background: transparent; border: none"> 
                    <figure class="entry-cover">
                        <img loading="lazy" src="{{ $post.Params.cover.image }}" alt="{{ $post.Title | plainify }}">
                    </figure>
                    <div class="entry-content">
                        <p>{{ $post.Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
                    </div>
                    <a class="entry-link" aria-label="post link to {{ $post.Title | plainify }}" href="{{ $post.Permalink }}"></a>
                </article>
            {{ end }}
        </div>
    </div>
</article>
{{- end -}}
